{{- section "Sun events" }}
{{- requiredField "Provider code" "code" "" }}
{{- field "Updated at" "updateTime" "" }}
{{- field "Forecast link" "fxLink" "" }}
{{- requiredField "Sunrise" "sunrise" "" }}
{{- requiredField "Sunset" "sunset" "" -}}
