{{- section "Solar position" }}
{{- requiredField "Provider code" "code" "" }}
{{- requiredField "Solar elevation" "solarElevationAngle" (unit "angle") }}
{{- requiredField "Solar azimuth" "solarAzimuthAngle" (unit "angle") }}
{{- requiredField "Solar time" "solarHour" "" }}
{{- requiredField "Hour angle" "hourAngle" (unit "angle") -}}
